* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

img {
  display: block;
}

.wrapper {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.child {
  border: 1px solid #BEBEBE;
  border-radius: 26px;
  width: 340px;
  height: 450px;
}

.box {
  margin-top: 15px;
  margin-left: 13px;
  display: flex;
}

.name {
  font-size: 18px;
}

.map {
  font-size: 15px;
  color: #787878;
} 

.soz {
  margin-left: 15px;
}

.img-li {
  display: inline-block;
  width: 55px;
  height: 55px;
}

.iconsss {
  margin-top: 13px;
}

.icons {
  margin-left: 16px;
  margin-top: 13px;
  color: #BEBEBE;
  transition: color 0.3s linear;
}

.icons:hover {
  color: #FF5353;
}

.icons-tu {
  margin-left: 16px;
  margin-top: 13px;
  color: #BEBEBE;
  transition: color 0.3s linear;
}

.icons-tu:hover {
  color: #FFBD3D;
}

.icons-thri {
  margin-left: 16px;
  
  margin-top: 13px;
  color: #BEBEBE;
  transition: color 0.3s linear;
}

.icons-thri:hover {
  color: #5D94FF;
}

.icons-o {
  color: #BEBEBE;
  margin-left: 130px;
  transition: color 0.3s linear;
}

.icons-o:hover {
  color: #5D94FF;
}

.jjj {
  margin-left: 16px;
}

strong {
  margin-left: 16px;
}

.wrap-overflow {
  overflow: hidden;
}

.nmadr {
  transition: transform 0.2s linear;
}

.nmadr:hover {
  transform: scale(1.5); 
}

.fa-solid {
  transition: transform 0.2s linear;
}

.fa-solid:hover {
  transform: rotate(-45deg);
}